/* Reset de estilos para garantir uma base consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o cabeçalho */
header {
    display: flex; /* Define o contêiner como um contêiner flexível */
    align-items: center; /* Centraliza os itens verticalmente dentro do contêiner */
    justify-content:space-around;/* Distribui os itens ao longo do eixo principal com espaçamento uniforme ao redor deles */
    padding: 20px; /* Adiciona um espaçamento interno de 20 pixels ao redor do conteúdo do contêiner */
    background-color: #f8f8f8;
    margin-bottom: 20px; /* Adiciona um espaçamento de 20 pixels na parte inferior do contêiner */
    /* Isso cria um espaço entre ele e o próximo elemento */
    border-radius: 10px;
    color: #333;

}


/* Estilo para o conteúdo do cabeçalho */
.header-content {
    display: flex;
    align-items: center;
}

/* Estilo para o título do cabeçalho */
header h1 {
    margin-right: 20px;
}

/* Estilo para a imagem do cabeçalho */
header img {
    max-width: 150px;
    height: 150;
    border-radius: 50%; /* Transforma a imagem em um círculo */
}

/* Estilo para a biografia */
.bio {
    max-width: 700px;
}

/* Estilo para o body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(329, 100%, 92%);
    color: #252525;
    padding: 20px;
    font-weight: 400;
}


/* Estilo para as imagens nos artigos */
article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    max-height: 200px;
}

/* Estilo para os títulos dos artigos */
article h2 {
    margin-bottom: 10px;
}

/* Estilo para os parágrafos nos artigos */
article p {
    margin-bottom: 20px;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
}

/* Estilo para os parágrafos dentro do rodapé */
footer p {
    margin: 10px 0;
}

/* Estilo para o link do Instagram */
footer a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para o link do Instagram quando hover (passar o mouse) */
footer a:hover {
    text-decoration: underline;
}

